In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [155]:
pd.set_option('display.max_columns', None)

In [156]:
df = pd.read_csv('../data_export/books.csv')

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2000 non-null   int64
 1   name              2000 non-null   object
 2   price             2000 non-null   int64
 3   original_price    2000 non-null   int64
 4   rating_average    2000 non-null   float64
 5   review_count      2000 non-null   int64
 6   author            1710 non-null   object
 7   publisher         0 non-null      float64
 8   categories        2000 non-null   object
 9   quantity_sold     1930 non-null   float64
 10  inventory_status  2000 non-null   object
 11  specifications    1998 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 187.6+ KB

In [158]:
df.drop(['publisher'], axis=1, inplace=True)

In [159]:
df.describe()

,id,price,original_price,rating_average,review_count,quantity_sold
count,2.000000e+03,2.000000e+03,2.000000e+03,2000.000000,2000.000000,1930.000000
mean,1.851117e+08,1.347637e+05,1.705666e+05,4.058150,136.752000,1401.301036
std,1.004913e+08,1.073256e+05,1.307940e+05,1.830191,429.835972,4256.562694
min,3.428510e+05,2.000000e+03,2.000000e+03,0.000000,0.000000,1.000000
25%,9.058706e+07,7.600000e+04,9.800000e+04,4.700000,2.000000,46.000000
50%,2.137166e+08,1.130000e+05,1.470000e+05,5.000000,14.000000,201.000000
75%,2.758556e+08,1.590000e+05,1.990000e+05,5.000000,75.250000,855.000000
max,2.777282e+08,1.497000e+06,1.750000e+06,5.000000,5476.000000,62004.000000

In [160]:
df.head(5)

,id,name,price,original_price,rating_average,review_count,author,categories,quantity_sold,inventory_status,specifications
0,277728224,"Nói Chuyện Là Bản Năng, Giữ Miệng Là Tu Dưỡng,...",117180,127000,4.8,419,Trương Tiếu Hằng,"{'id': 316, 'name': 'Sách tiếng Việt', 'is_lea...",8646.0,available,Phiên bản sách: Phiên bản thường | Công ty phá...
1,277412034,Sách Song Ngữ Lời Thì Thầm Trong Tổ Ấm - Whisp...,158000,158000,5.0,21,NaN,"{'id': 67857, 'name': 'Sách học tiếng anh - kh...",681.0,available,Công ty phát hành: NXB Lao Động | Ngày xuất bả...
2,277409853,Bí Ẩn Thảm Án Ở Styles (Agatha Christie) (NXB ...,106000,122000,5.0,2,Agatha Christie,"{'id': 664, 'name': 'Truyện trinh thám', 'is_l...",75.0,available,Công ty phát hành: NXB Trẻ | Loại bìa: Bìa mềm...
3,277381902,Tiếng gọi chân trời - Nguyễn Ngọc Tư,68100,95000,5.0,8,Nguyễn Ngọc Tư,"{'id': 68000, 'name': 'Truyện ngắn - Tản văn -...",336.0,available,Công ty phát hành: NXB Trẻ | Ngày xuất bản: 20...
4,276960030,Khi Mọi Điều Không Như Ý,68670,109000,5.0,25,Hae Min,"{'id': 67946, 'name': 'Sách tâm lý học - khác'...",696.0,available,Công ty phát hành: Nhã Nam | Ngày xuất bản: 20...

In [161]:
for col in df.columns:
    missing_data = df[col].isna().sum()
    if missing_data < 2000 and missing_data > 0:
        print(f'Dòng {col} trống {missing_data} giá trị')

Dòng author trống 290 giá trị
Dòng quantity_sold trống 70 giá trị
Dòng specifications trống 2 giá trị

In [162]:
df.duplicated().sum()

np.int64(0)

In [163]:
#Kiểm tra các giá trị trống trong cột author
df_missing_author = df[
    df['author'].isna() |
    (df['author'] == "") |
    (df['author'] == "null")
]

print(df_missing_author)

             id                                               name   price  \
1     277412034  Sách Song Ngữ Lời Thì Thầm Trong Tổ Ấm - Whisp...  158000
8     276346703  Combo 4 cuốn: ChatGPT + ChatGPT thực chiến + A...  608000
22    212597849                        Bookmark kẹp sách giấy cứng    6480
23    209389165                        Bookmark kẹp sách giấy cứng    2000
26    199582064  Sổ tay ghi chép / sổ lò xo ghi chép A5 - B5 - ...   50000
...         ...                                                ...     ...
1980  194130726  [bìa cứng] [Sách lịch sử có tranh minh họa] TH...  450000
1981  186369313                    Hành Tinh Của Một Kẻ Nghĩ Nhiều   76000
1983  140045033  Tình Báo, Gián Điệp - Các Tổ Chức Tình Báo Hàn...   76500
1985  104558238                       Sách Thức Dậy, Anh Vẫn Là Mơ   71100
1989   67865487                                             Sụp Đổ  273000

      original_price  rating_average  review_count author  \
1             158000             5.0            21    NaN
8             716000             0.0             0    NaN
22              9000             3.0             2    NaN
23              2000             3.0             2    NaN
26             99000             5.0           156    NaN
...              ...             ...           ...    ...
1980          450000             5.0             3    NaN
1981           86000             5.0             1    NaN
1983          102000             5.0            30    NaN
1985           71100             5.0             6    NaN
1989          399000             5.0             5    NaN

                                             categories  quantity_sold  \
1     {'id': 67857, 'name': 'Sách học tiếng anh - kh...          681.0
8     {'id': 848, 'name': 'Sách Marketing - Bán hàng...            1.0
22    {'id': 67407, 'name': 'Bookmark giấy', 'is_lea...         3042.0
23    {'id': 54978, 'name': '1980Books', 'is_leaf': ...         9265.0
26    {'id': 1899, 'name': 'Sổ Tay Các Loại', 'is_le...         2297.0
...                                                 ...            ...
1980  {'id': 9724, 'name': 'Lịch Sử Việt Nam', 'is_l...           11.0
1981        {'id': 2, 'name': 'Root', 'is_leaf': False}           11.0
1983  {'id': 9724, 'name': 'Lịch Sử Việt Nam', 'is_l...          178.0
1985  {'id': 68000, 'name': 'Truyện ngắn - Tản văn -...           44.0
1989  {'id': 316, 'name': 'Sách tiếng Việt', 'is_lea...           44.0

     inventory_status                                     specifications
1           available  Công ty phát hành: NXB Lao Động | Ngày xuất bả...
8           available  Công ty phát hành: 1980 Books | Nhà xuất bản: ...
22          available  Xuất xứ (Made in): Việt Nam | Xuất xứ thương h...
23          available  Công ty phát hành: 1980 Books | Nhà xuất bản: ...
26          available  Thương hiệu: HARIN | Xuất xứ (Made in): Việt N...
...               ...                                                ...
1980        available  Công ty phát hành: Nhà Xuất Bản Đà Nẵng | Loại...
1981        available  Công ty phát hành: AZ Việt Nam | Phương thức g...
1983        available  Công ty phát hành: VIETNAMBOOK | Loại bìa: Bìa...
1985        available  Công ty phát hành: Phương Nam Book | Ngày xuất...
1989        available  Công ty phát hành: Alpha Books | Nhà xuất bản:...

[290 rows x 11 columns]

In [164]:
#Xử lý các giá trị trống trong cột author
df['author'] = df['author'].fillna('Không rõ')

In [165]:
#Kiểm tra các giá trị trống trong cột quantity_sold
df_missing_quantity_sold = df[
    df['quantity_sold'].isna() |
    (df['quantity_sold'] == "") |
    (df['quantity_sold'] == "null")
]

print(df_missing_quantity_sold)

             id                                               name   price  \
70     49002009  DƯỠNG TÂM GIÀU CÓ DƯỠNG THÂN NGHÈO KHÓ - NGUYỄ...   88000
153     7718737              Nghệ Thuật Tư Duy Rành Mạch (Tái Bản)  106000
164   277314379                        31 Ngày Bán Hàng Thực Chiến  292000
169   276641008        Thao túng tâm lý khách hàng bằng tâm lý học  160000
254   274377039                   Chữa Lành Bằng Ánh Sáng Mặt Trời  116000
...         ...                                                ...     ...
1922  276944791                  Trần Bạch Đằng: Cuộc Đời Và Ký Ức  120000
1947  160488880  OKR - Từ Chiến Lược Mục Tiêu Đến Kết Quả Then ...  116000
1963  277488485                           Luật Đầu Tư (Hiện Hành)    45000
1987   90480504  Sách - Khổng Tử - Nguyễn Hiến Lê ( Tuyển Tập B...  127200
1999    1059888                           Đường Đến Nhà Trắng 2016  188000

      original_price  rating_average  review_count            author  \
70             98000             0.0             0   Nguyễn Anh Dũng
153           118000             0.0             0      Rolf Dobelli
164           365000             0.0             0  Hoàng Trung Dũng
169           160000             0.0             0          Không rõ
254           129000             0.0             0    Andreas Moritz
...              ...             ...           ...               ...
1922          150000             0.0             0    Trần Bạch Đằng
1947          129000             0.0             0      Masaru Amono
1963           43000             0.0             0          Quốc hội
1987          159000             0.0             0    Nguyễn Hiến Lê
1999          209000             0.0             0       Roger Stone

                                             categories  quantity_sold  \
70    {'id': 316, 'name': 'Sách tiếng Việt', 'is_lea...            NaN
153   {'id': 316, 'name': 'Sách tiếng Việt', 'is_lea...            NaN
164   {'id': 848, 'name': 'Sách Marketing - Bán hàng...            NaN
169   {'id': 871, 'name': 'Sách tư duy - Kỹ năng sốn...            NaN
254   {'id': 861, 'name': 'Sách Tôn Giáo - Tâm Linh'...            NaN
...                                                 ...            ...
1922  {'id': 839, 'name': 'Sách văn học', 'is_leaf':...            NaN
1947  {'id': 849, 'name': 'Sách quản trị, lãnh đạo',...            NaN
1963                                                 []            NaN
1987  {'id': 67981, 'name': 'Danh nhân Nước Ngoài', ...            NaN
1999  {'id': 67836, 'name': 'Kinh tế chính trị', 'is...            NaN

     inventory_status                                     specifications
70          available  Công ty phát hành: SBOOKS | Ngày xuất bản: 202...
153         available  Công ty phát hành: Nhã Nam | Ngày xuất bản: 20...
164         available  Bookcare: Có | Công ty phát hành: Alphabooks |...
169         available  Công ty phát hành: BIZBOOKS | Nhà xuất bản: Nh...
254         available  Bookcare: Có | Công ty phát hành: Thái Hà | Ng...
...               ...                                                ...
1922        available  Công ty phát hành: NXB Trẻ | Loại bìa: Bìa mềm...
1947        available  Công ty phát hành: 1980 Books | Ngày xuất bản:...
1963     out_of_stock                                                NaN
1987        available  Công ty phát hành: BIZBOOKS | Ngày xuất bản: 2...
1999        available  Công ty phát hành: Omega Plus | Ngày xuất bản:...

[70 rows x 11 columns]

In [166]:
#Trống là do chưa bán được hàng nên thay bằng 0
df['quantity_sold'] = df['quantity_sold'].fillna(0)

In [167]:
df['quantity_sold'] = df['quantity_sold'].astype('int')

In [168]:
#Kiểm tra các giá trị trống trong cột specifications. Nhưng ở đây trống do sản phẩm hết hàng. Không cần xử lý
df_missing_spec = df[
    df["specifications"].isna() | 
    (df["specifications"] == "") | 
    (df["specifications"] == "null")
]
print(df_missing_spec)

             id                                               name  price  \
841   277520704  Sách - Hội Những Người Thích Ở Nhà - Tặng Kèm ...  80000
1963  277488485                           Luật Đầu Tư (Hiện Hành)   45000

      original_price  rating_average  review_count      author categories  \
841            80000             5.0             2  Chiaki Ida         []
1963           43000             0.0             0    Quốc hội         []

      quantity_sold inventory_status specifications
841               0     out_of_stock            NaN
1963              0     out_of_stock            NaN

XỬ LÝ TÁCH GIÁ TRỊ TRONG CỘT CATEGORIES
- ID
- Tên danh mục
- Bỏ cột cuối

In [169]:
import ast

In [170]:
#Chuyển cột categories thành dang dictionary thật và lưu vào cột mới categories_dict
df['categories_dict'] = df['categories'].apply(ast.literal_eval)

In [171]:
df['categories_dict'].head(5)

0    {'id': 316, 'name': 'Sách tiếng Việt', 'is_lea...
1    {'id': 67857, 'name': 'Sách học tiếng anh - kh...
2    {'id': 664, 'name': 'Truyện trinh thám', 'is_l...
3    {'id': 68000, 'name': 'Truyện ngắn - Tản văn -...
4    {'id': 67946, 'name': 'Sách tâm lý học - khác'...
Name: categories_dict, dtype: object

In [172]:
df['categories_dict'].apply(type).value_counts()

categories_dict
<class 'dict'>    1998
<class 'list'>       2
Name: count, dtype: int64

In [173]:
#có 2 giá trị list rỗng. Nhưng sách này không coshangf, không có thông tin gì => Không có giá trị phân tích => Xóa
df = df[df['categories_dict'].apply(type) != list]

In [174]:
df['category_id'] = df['categories_dict'].apply(lambda x: x.get('id'))
df['category_name'] = df['categories_dict'].apply(lambda x: x.get('name'))
df.drop(['categories_dict', 'categories'], axis=1, inplace=True)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1998 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1998 non-null   int64
 1   name              1998 non-null   object
 2   price             1998 non-null   int64
 3   original_price    1998 non-null   int64
 4   rating_average    1998 non-null   float64
 5   review_count      1998 non-null   int64
 6   author            1998 non-null   object
 7   quantity_sold     1998 non-null   int64
 8   inventory_status  1998 non-null   object
 9   specifications    1998 non-null   object
 10  category_id       1998 non-null   int64
 11  category_name     1998 non-null   object
dtypes: float64(1), int64(6), object(5)
memory usage: 202.9+ KB

In [176]:
df.head(5)

,id,name,price,original_price,rating_average,review_count,author,quantity_sold,inventory_status,specifications,category_id,category_name
0,277728224,"Nói Chuyện Là Bản Năng, Giữ Miệng Là Tu Dưỡng,...",117180,127000,4.8,419,Trương Tiếu Hằng,8646,available,Phiên bản sách: Phiên bản thường | Công ty phá...,316,Sách tiếng Việt
1,277412034,Sách Song Ngữ Lời Thì Thầm Trong Tổ Ấm - Whisp...,158000,158000,5.0,21,Không rõ,681,available,Công ty phát hành: NXB Lao Động | Ngày xuất bả...,67857,Sách học tiếng anh - khác
2,277409853,Bí Ẩn Thảm Án Ở Styles (Agatha Christie) (NXB ...,106000,122000,5.0,2,Agatha Christie,75,available,Công ty phát hành: NXB Trẻ | Loại bìa: Bìa mềm...,664,Truyện trinh thám
3,277381902,Tiếng gọi chân trời - Nguyễn Ngọc Tư,68100,95000,5.0,8,Nguyễn Ngọc Tư,336,available,Công ty phát hành: NXB Trẻ | Ngày xuất bản: 20...,68000,Truyện ngắn - Tản văn - Tạp Văn Việt Nam
4,276960030,Khi Mọi Điều Không Như Ý,68670,109000,5.0,25,Hae Min,696,available,Công ty phát hành: Nhã Nam | Ngày xuất bản: 20...,67946,Sách tâm lý học - khác

XỬ LÝ CỘT SPECIFICATIONS. TÁCH CỘT VỚI CÁC GIÁ TRỊ:
- Công ty phát hành
- Ngày xuất bản
- Kích thước
- Loại bìa
- Dịch giả
- Số trang
- Nhà xuất bản
- Bookcare

In [177]:
def tach_spec(s):
    dict = {}
    if pd.isna(s):
        return dict
    items = s.split('|')
    for item in items:
        if ':' in item:
            key, value = item.split(': ', 1)
            dict[key.strip()] = value.strip()
    return dict

In [178]:
# Tách specifications thành dict, rồi thành dataframe
df_spec = df['specifications'].apply(tach_spec).apply(pd.Series)

# Chỉ lấy 4 cột cần thiết (nếu có tồn tại)
columns_needed = ['Công ty phát hành', 'Loại bìa', 'Số trang', 'Ngày xuất bản']
df_spec = df_spec[columns_needed]  # chỉ giữ lại các cột này

# Gộp vào dataframe chính
df = pd.concat([df, df_spec], axis=1)

# Xoá cột gốc
df.drop(columns='specifications', inplace=True)

In [179]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1998 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1998 non-null   int64
 1   name               1998 non-null   object
 2   price              1998 non-null   int64
 3   original_price     1998 non-null   int64
 4   rating_average     1998 non-null   float64
 5   review_count       1998 non-null   int64
 6   author             1998 non-null   object
 7   quantity_sold      1998 non-null   int64
 8   inventory_status   1998 non-null   object
 9   category_id        1998 non-null   int64
 10  category_name      1998 non-null   object
 11  Công ty phát hành  1922 non-null   object
 12  Loại bìa           1706 non-null   object
 13  Số trang           1629 non-null   object
 14  Ngày xuất bản      1448 non-null   object
dtypes: float64(1), int64(6), object(8)
memory usage: 249.8+ KB

In [181]:
df.to_csv('../data_export/books_cleaned.csv', index=False, encoding='utf-8-sig')